<div class='header'>
  <div class='back'>
    <%= link_to back do%>
      <%='<'%>
      <span>—</span>
    <%end%>
  </div>
  <h4><%= label%></h4>
  <% unless form.nil? %>
  <div class="actions">
    <%= form.submit action %>
  </div>
  <% end %>
</div>