<div class='login-header'>
  <div class='back'>
    <%= link_to '<', groups_path%>
    <span>—</span>
  </div>
  <h4><%= label%></h4>
  <div class="actions">
    <%= form.submit action %>
  </div>
</div>