/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
}

body {
  background-color: #ccc;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.intro h1 {
  margin-top: 50vh;
  justify-self: center;
  font-size: 10vh;
  font-family: 'Dancing Script', cursive;
}

.intro div {
  width: 90vw;
}

.intro button {
  width: 88vw;
  height: 50px;
  background-color: inherit;
  border: none;
}

.login {
  background-color: #377ec2 !important;
}

a {
  text-decoration: none;
  color: #000;
}

.back :first-child {
  font-size: 30px;
  padding: 5px;
}

.back span {
  position: relative;
  top: -6px;
  left: -18px;
  font-weight: bold;
}

.login-header {
  padding: 0 10px;
  background-color: #377ec2;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 50px;
}

.login-header > * {
  margin-top: 15px;
}

.login-header .actions > * {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.login-fields {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 0 0 0 20px;
  background-color: #fff;
}

.login-fields .field > * {
  border: none;
  background-color: inherit;
  padding: 10px 0;
}

.login-fields .field:nth-child(n) :focus {
  outline: none;
}

.login-fields .field:first-child {
  border-bottom: 1px solid #ccc;
  outline: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.forgot {
  margin-top: 10px;
  align-self: center;
}

@media (min-width: 768px) {
  .intro h1 {
    margin-top: 25vh;
  }
}
