<h1>Categories</h1>
<ul>
<% @categories.each do |category| %>
  <li>
  <h3><%= category.user.full_name%><h3>
  <img src=<%=category.icon%> alt=''>
  <h4>Total transaction: </h4>
  </li>
<% end %>
</ul>
<button><%= link_to 'Add new category', new_category_path%></button>
<%= button_to 'Sign out', destroy_user_session_path, method: :delete %>